* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin: 20px;
  font-size: 80px;
}

.frame {
  border: 10px solid wheat;
  border-radius: 3%;
}
.container {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button, .color-div {
  background-color: wheat;
  font-size: larger;
  font-weight: bolder;
  color: darkslategray;
  margin: 20px;
  padding: 10px;
  border-radius: 15%;
  border: 2px solid yellow;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: darkslategray;
}

.pick-color {
  border: 3px solid red;
}

label {
  font:
    25px 'Fira Sans',
    sans-serif;
    font-weight: bolder;
}

img {
  width: 30px;
  margin: 0 15px 0 15px;
  position: -3px;
  border: 3px solid darkslategray;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.2);
}

img:active {
  transform: scale(0.9);
}

.color-div {
  display: flex;
}