* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

.frame {
  border: 10px solid wheat;
  border-radius: 3%;
}
.container {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: wheat;
  font-size: larger;
  font-weight: bolder;
  color: darkslategray;
  margin: 20px;
  padding: 10px;
  border-radius: 15%;
  border: 2px solid yellow;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.1);
  background-color: whitesmoke;
  color: darkslategray;
}
